* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;


}

.popup{
    display: none;
    position: fixed;
    text-align: center;
    top: 60px;
    right: 463px;
    width: 100px;
    background-color: #e99930;
    z-index: 3;
    transition: 0.3s ease-in;
 }
 .popup ul li{
    list-style: none;
}





#sideNav {
    display: none;
    position: fixed;
    text-align: center;
    top: 0;
    right: -250;
    width: 50vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 2;
    padding-top: 50px;
    transition:0.5s ease-in;
}

#sideNav ul li {
    padding: 50px 0;
    list-style: none;
    text-decoration: none;
}

#sideNav ul a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(46, 46, 46);
}


#menuBtn {
    display: none;
    position: fixed;
    top: 0;
    right: 50px;
    padding: 30px 0 30px 0;
    text-align: center;
    z-index: 2;
    cursor: pointer;
}

.logo {
    letter-spacing: 5px;

}


i {
    color: #e99930;
    font-size: 30px;
}

.mar {
    padding: 20px 200px;
}

.header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3b3d3a;
    color: aliceblue;
    z-index: 2;



}


.nav-links ul li a {
    text-decoration: none;
    color: white;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.nav-links ul li a:hover {
    color: #e99930;
    cursor: pointer;
}

.heroimg {
    
    height: 100vh;
    background: url("img/hero.jpg");
    background-size: cover;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    color: white;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 280px;

}

.about {
    text-align: center;
    margin: 20px 0;
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.box {
    /*outline: 1px solid#000;*/
    font-size: small;
    color: #3b3d3a;
    display: flex;
    flex-direction: column;

}

.box:first-child {
    width: 500px;
}

.box:last-child {
    width: 500px;
}

.more {
    margin-top: 20px;
    width: 150px;
    padding: 5px 0;
    border: none;
    color: white;
    background: #e99930;
    cursor: pointer;
}

.more:hover {
    background-color: rgb(226, 40, 233);
}

.wedo {

    text-align: center;
    padding-bottom: 20px;


}

.gall {

    display: flex;
    gap: 15px;
    justify-content: center;

}

.box-1 img {
    height: 150px;
    width: 250px;
    transition: 0.3s ease-in;

}

.box-1 img:hover {
    transform: scale(2, 2);

}

.services {

    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    height: 400px;
    justify-content: center;
}


.news {
    margin: 20px 80px;
    text-align: center;

}

.box-2 {
    width: 600px;
    /*outline: 1px solid #000;*/

}


.wapper1 {
    margin: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.box-2 h5 {
    color: #e99930;
}

.lastBfr {
    background-color: #c5c5c5;
    padding: 0 0 20px 0;
}

.signup {
    text-align: center;
    padding: 20px 0 0 0;
}

form {
    text-align: center;
    padding: 20px 0;

}

form .text {

    width: 250px;
    padding: 4px 0;
    border: 0.5px solid#d0d0d0;
    outline: none;

}

form .text::placeholder {

    padding-left: 10px;
}

.gallery {
    display: flex;
    justify-content: center;

    gap: 30px
}

.gallery img {
    width: 250px;
}

.footer-div {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 270px;
    background-color: #3b3d3a;
    min-height: 200px;
    color: rgb(218, 218, 218);
}

.footer-col:first-child {

    flex-basis: 500px;
    margin-right: auto;
}

.footer-div p {
    font-size: 12px;
}

.footer-col ul li {
    text-decoration: underline;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #e99930;
}

.reveal{
      
    opacity: 0;
    transform: translateY(150px);
    transition: 0.5s ease-in;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.left{
    opacity: 0;
    transform: translateX(-150px);
    transition: 0.5s ease-in;
}
.right{
    opacity: 0;
    transform: translateX(300px);
    transition: 0.5s ease-in;
}
.right.active{
    opacity: 1;
    transform: translateX(0px);
    
}

.left.active{
    opacity: 1;
    transform: translateX(0px);
    
}
@media (max-width:1920) {

    
}
@media (min-width: 768px) and (max-width: 1200px) {

    html,
    body {
        max-width: 100%;
        overflow-x:hidden;

    }
    .mar {
        padding: 20px 50px;
    }
    .logo {
        letter-spacing: 5px;

    }

    .header {
        
        padding: 20px 50px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        
        justify-content: space-between;
        background-color: #3b3d3a;
        color: aliceblue;
    }
   
    .nav-links {
        display: none;
    }
    #menuBtn {
        display: block;
        position: fixed;
        top: 10px;
        right: 50px;
        
        z-index: 2;
        cursor: pointer;
    }
    #sideNav {
        display: block;
        right: 0;
        width: 20vw;
        opacity: 1;
                
    }
    .flex {

        display: flex;
        flex-wrap: wrap-reverse;

        padding-bottom: 10px;
        text-align: start;
    }

    .scroll2 {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .box:first-child {

        padding: 20px 0px;
        width: 500px;
    }

    .box:last-child {
        width: 500px;

    }

    .more {
       
        margin-left: 175px;
        width: 150px;
        

    }

    .gall {
        padding: 0 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        overflow-x: scroll;

    }
    .wapper1 {
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        

    }
    .box-2 {
        width: 500px;
        /*outline: 1px solid #000;*/

    }

    form{
        padding-top: 0px;
        
        width: auto
    }
    form .more{
        margin: 0;
        
    }

   

    .footer-div {
        padding: 20px 50px;
        gap: 100px;
        background-color: #3b3d3a;
        min-height: 100px;

    }

    .footer-div h4 {
        font-size: 15px;
        font-weight: 600;
    }

    .footer-col ul li {
        text-decoration: underline;
        list-style: none;
        font-size: 12px;
        cursor: pointer;

    }

    .footer-col h5 {
        font-weight: 600;
    }

    .footer-col:last-child ul li {
        text-decoration: none;
    }
    .footer-col:nth-child(2){
        display: none;
    }
    .footer-col:first-child {

        flex-basis: 370px;
        margin-right: auto;
    }

    .footer-div p {
        font-size: 12px;
    }

    .wapper1 {}

    .heroimg {
        width: 100%;
        height: 100vh;
        font-size: 30px;
        padding-left: 180px;

    }

    .services {
        height: 300px;
    }

    .gallery img {
        width: 150px;
    }
    form .text {
        margin: 0;
        border-radius: 0;
        width: 150px;
        padding: 4px 0;
        
        
        

    }
}




/*-------------mobile------------*/

@media (max-width: 767px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;

    }

    .logo {
        letter-spacing: 5px;

    }

    i {
        color: #e99930;
        font-size: 30px;
    }

    .header {

        padding: 20px 20px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3b3d3a;
        color: aliceblue;
    }

    .nav-links {
        display: none;
    }

    #menuBtn {
        display: block;
        position: fixed;
        top: -10px;
        right: 20px;
        text-align: center;
        z-index: 2;
        cursor: pointer;
    }

    #sideNav {
        
        display: block;
        right: 0;

    }

    .heroimg {
        height: 100vh;
        background: url("img/hero.jpg");
        background-size: cover;
        background-position: ;
        font-size: 30px;

        letter-spacing: 5px;
        color: white;
        background-position: center;
        display: flex;
        align-items: center;
        padding-left: 90px;

    }

    .about {
        font-size: 15px;
        text-align: center;

    }

    .flex {

        display: flex;
        flex-wrap: wrap-reverse;

        padding-bottom: 10px;
        text-align: start;



    }

    .scroll2 {
        padding: 0;
        margin: 0;
    }

    .box:first-child {

        padding: 20px 0px;
        width: 250px;
    }

    .box:last-child {
        width: 250px;

    }

    .more {

        margin-left: 50px;
        width: 150px;
        

    }

    .wedo {

        text-align: center;



    }

    .gall {

        display: flex;
        gap: 10px;
        justify-content: start;
        overflow-x: scroll;

    }

    .box-1 img {
        height: 150px;
        width: 250px;
        transition: 0.3s ease-in;

    }

    .box-1 img:hover {
        transform: scale(2, 2);

    }

    .services {
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
        height: 300px;
        justify-content: center;
    }


    .news {
        margin: 20px 80px;
        text-align: center;

    }

    .box-2 {
        width: 250px;
        /*outline: 1px solid #000;*/

    }


    .wapper1 {
        margin: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .box-2 h5 {
        color: #e99930;
    }

    .box-2 p {
        font-size: 12px;
    }

    .lastBfr {
        background-color: #c5c5c5;
        padding: 0 0 0px 0;
    }

    .signup {
        text-align: center;
        padding: 20px 0 0 0;
    }
   
    form{
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: auto
    }
    
    form .text {
        margin: 0;
        
        width: 150px;
        padding: 4px 0;
        
        
        

    }

    form .text::placeholder {

        padding-left: 10px;
    }

    .gallery {
        display: flex;
        justify-content: start;
        padding-left: 20px;
        gap: 10px;
        overflow-x: auto;
        width: auto;
    }

    .gallery img {
        width: 150px;
        padding-bottom: 20px;
    }

    .footer-div {

        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 30px;
        background-color: #3b3d3a;
        min-height: 50px;
        color: rgb(218, 218, 218);
    }

    .footer-col:nth-child(1) {
        width: 150px;
    }

    .footer-col:nth-child(2) {
        display: none;
    }

    .footer-col:nth-child(3) h5 {
        font-size: 10px;
        width: 150px;
    }

    .footer-div p {
        font-size: 8px;
    }

    .footer-col ul li {
        text-decoration: underline;
        list-style: none;
        font-size: 8px;
        cursor: pointer;
    }

    .footer-col ul li:hover {
        color: #e99930;
    }

}



/*-------------mobile 480------------*/

@media (max-width: 480px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;

    }

    .logo {
        letter-spacing: 5px;

    }

    i {
        color: #e99930;
        font-size: 30px;
    }

    .header {

        padding: 20px 20px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3b3d3a;
        color: aliceblue;
    }

    .nav-links {
        display: none;
    }

    #menuBtn {
        display: block;
        position: fixed;
        top: -10px;
        right: 20px;
        text-align: center;
        z-index: 2;
        cursor: pointer;
    }

    #sideNav {
        
        display: block;
        right: -250px;

    }

    .heroimg {
        height: 100vh;
        background: url("img/hero.jpg");
        background-size: cover;
        background-position: ;
        font-size: 30px;

        letter-spacing: 5px;
        color: white;
        background-position: center;
        display: flex;
        align-items: center;
        padding-left: 90px;

    }

    .about {
        font-size: 15px;
        text-align: center;

    }

    .flex {

        display: flex;
        flex-wrap: wrap-reverse;

        padding-bottom: 10px;
        text-align: start;



    }

    .scroll2 {
        padding: 0;
        margin: 0;
    }

    .box:first-child {

        padding: 20px 0px;
        width: 250px;
    }

    .box:last-child {
        width: 250px;

    }

    .more {

        margin-left: 50px;
        width: 150px;
        

    }

    .wedo {

        text-align: center;



    }

    .gall {

        display: flex;
        gap: 10px;
        justify-content: start;
        overflow-x: scroll;

    }

    .box-1 img {
        height: 150px;
        width: 250px;
        transition: 0.3s ease-in;

    }

    .box-1 img:hover {
        transform: scale(2, 2);

    }

    .services {
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
        height: 300px;
        justify-content: center;
    }


    .news {
        margin: 20px 80px;
        text-align: center;

    }

    .box-2 {
        width: 250px;
        /*outline: 1px solid #000;*/

    }


    .wapper1 {
        margin: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .box-2 h5 {
        color: #e99930;
    }

    .box-2 p {
        font-size: 12px;
    }

    .lastBfr {
        background-color: #c5c5c5;
        padding: 0 0 0px 0;
    }

    .signup {
        text-align: center;
        padding: 20px 0 0 0;
    }
   
    form{
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: auto
    }
    
    form .text {
        margin: 0;
        
        width: 150px;
        padding: 4px 0;
        
        
        

    }

    form .text::placeholder {

        padding-left: 10px;
    }

    .gallery {
        display: flex;
        justify-content: start;
        padding-left: 20px;
        gap: 10px;
        overflow-x: auto;
        width: auto;
    }

    .gallery img {
        width: 150px;
        padding-bottom: 20px;
    }

    .footer-div {

        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 30px;
        background-color: #3b3d3a;
        min-height: 50px;
        color: rgb(218, 218, 218);
    }

    .footer-col:nth-child(1) {
        width: 150px;
    }

    .footer-col:nth-child(2) {
        display: none;
    }

    .footer-col:nth-child(3) h5 {
        font-size: 10px;
        width: 150px;
    }

    .footer-div p {
        font-size: 8px;
    }

    .footer-col ul li {
        text-decoration: underline;
        list-style: none;
        font-size: 8px;
        cursor: pointer;
    }

    .footer-col ul li:hover {
        color: #e99930;
    }

}
